.screen-height {
  height: 100vh;
}

.chat-stream {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  background-color: white;
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  padding: 0;
  margin: 0;
}

