
.parent {
    width: 200px;
}
.pictureContainer {
    width: 200px;
    height: 200px;
}

.photo-error {
    border-color: rgb(250, 69, 69);
    border-width: 2px;
    border-style: solid;
}

.mainImgSize {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.image img{
    position: absolute;
}

.pt-15{
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}