.n-mt-1 {
  margin-top: -.25rem;
}

.n-mt-2 {
  margin-top: -.50rem;
}

.n-mt-3 {
  margin-top: -1rem;
}

.n-mt-4 {
  margin-top: -2rem;
}

.n-mt-5 {
  margin-top: -3rem;
}

.n-mt-6 {
  margin-top: -4.5rem;
}